[color]
    ui = true
[user]
    name = Andrei Gherzan
    email = andrei.gherzan@windriver.com
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = andrei@gherzan.ro
    smtpsslcertpath = ""
[github]
    user = agherzan
    token = 7dbe8429d61a12d745c51a4e5a56300c
[core]
    editor = vim
    pager = less
