[color]
    ui = true
[user]
    name = Andrei Gherzan
    email = andrei@resin.io
	signingkey = 73BBE86B7E7AB7CF
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = andrei@gherzan.ro
    smtpsslcertpath = ""
[github]
    user = agherzan
[core]
    editor = vim
    pager = less
[credential]
    helper = store
